[2019-10-04 05:11] igaurab opened #1 "Map does not zoom in and out in plugin"

[2019-10-24 02:56] Huai-Dc opened #2 "What is the minimum supported version of flutter_Map"

[2019-10-25 07:06] Huai-Dc commented on #2
Because every version of user_location depends on flutter_map from hosted and mz_flutterapp_deep depends on flutter_map from path, user_location is forbidden

can turn this limit off

[2019-10-25 09:21] igaurab commented on #2
@Huai-Dc I have build the plugin based on the recent version of flutter_map ie 0.7. I have not tested the plugin with the older versions of flutter map. Are you facing any issues with the plugin? Please let me know ;)

[2019-10-25 09:28] Huai-Dc commented on #2
The current version of flutter is based on 1.5.4 and the flutter is 0.5.5. we made some changes on this versions （0.5.5）. and now i‘m fix some error in this version but  user_location is forbidden it from path

[2019-10-28 19:12] jesusrp98 opened #3 "Markers doesn't render properly"
I'm trying to render a list of markers, generated by data inside a Provider model.

[code]
Also, should I add the same markers inside the `UserLocationOptions` object? Documentation doesn't tell it clearly, since it's using an empty list :/

The `MapPin` object derives from the Marker class, there were no problem rendering them before implementing this package into the project.

[2019-10-30 08:43] #2 closed

[2019-10-30 09:36] Huai-Dc opened #4 "how to add back to positioning button"
![Uploading image.png…]()

can I change the icon of the anchor point

[2019-10-31 01:50] igaurab commented on #4
Yes, you can do it so by passing your own widget through markerWidget.
For now, there is no way to put your custom accuracy marker. I will look onto that very soon...

[2019-10-31 01:54] igaurab commented on #3
Hi, thank you for mentioning that out.
You should make use a of  separate marker list object and pass it in  `UserLocationOptions`

[2019-10-31 07:32] jesusrp98 commented on #3
That doesn't make much sense to me. Why is mandatory to add the markers to two different places?
Also, I've noticed that if you don't use a map controller, it wouldn't work.

[2019-10-31 08:08] Huai-Dc commented on #4
tks for your replay！and i have a problem the anchor sometimes disappears when adding the marker point and anchor point at the same time

Three is my code

class _MoodMapPageState extends State<MoodMapPage> {
  MapController mapController = MapController();
  List<Marker> markers = <Marker>[
    Marker(
      width: 40.0,
      height:40.0,
      point: LatLng(24.594539, 118.029745),
      builder:

[2019-10-31 11:13] igaurab commented on #4
@Huai-Dc for now you should use separate marker for the user location. I hope that resolves your issue.

[2019-10-31 11:22] igaurab commented on #3
@jesusrp98 in the current implementation, every time the user changes his location, the list of marker is cleared and a new marker with the new user location is plotted in the map. A possible solution to this could be adding the marker at the end of the markers list and only removing the last marker object.

`MapController` here is used to move the camera to the current location of the user, I'll

[2019-11-05 06:16] igaurab opened #7 "Marker is not diplayed when controller is not passed"
While reviewing a feature request #6  I found out that the marker is not displayed when the mapController is not passed or used. This was also partly discussed by @jesusrp98  in #3

![GithubIssue](https://user-images.githubusercontent.com/28226423/68183153-a0068c00-ffc3-11e9-8f38-676628ce1d93.gif)

[2019-11-05 06:20] igaurab opened #8 "Stream Emits events when application is running on the background"
While I was testing out my other application I found that the current LatLang was being printed in the console. I have used `location` package to get the current location of the user, which listens to the current user location. The output in the console comes from the function implemented in the `onlisten()`

**It seems like the issue of the location package that i have used:**
https://github.com/

[2019-11-05 06:21] igaurab commented on #8
I am looking at this issue, meanwhile if have you also experienced such please let me know.

[2019-11-08 13:49] #4 closed

[2019-11-08 15:34] #3 closed

[2019-11-08 15:34] #7 closed

[2019-11-09 04:55] igaurab opened #9 "Provide a way to move camera to the current location of the user"
After the pull request #6 the user will be able to move the map freely, and the mapController will not redirect the user to their current location automatically. So, if the `updateMapLocationOnPositionChange` is set to false we must provide a way for the user to navigate to their current location.

I purpose of adding a flag called `showMoveToCurrentLocationFloatingActionButton` [which by default

[2019-11-09 05:43] igaurab commented on #9
## Final output
![floating_button](https://user-images.githubusercontent.com/28226423/68523652-0d782c80-02e4-11ea-88bf-c1a627fa1702.gif)

[2019-11-09 05:44] #9 closed

[2019-11-11 11:08] boris612 commented on #3
@igaurab

If you use another marker list in UserLocationOptions then only the list set in MarkerLayerOptions of FlutterMap is used.

[2019-11-11 11:15] boris612 opened #10 "Current location marker does not change until map is moved"
When `updateMapLocationOnPositionChange` option is set to `false`, current location marker does not change to a new location (although it prints new location in console) until the map is moved.

[2019-11-14 09:05] igaurab commented on #10
@boris612 true. I noticed that the marker will only change if the map is moving. If the map is not moving (either manually by setting `updateMapLocationOnPositionChange` to true) the marker will not be updated. Will look into this issue soon. Thank you.

[2019-11-18 10:07] #8 closed

[2019-11-19 04:32] konishon commented on #10
@igaurab I had a look into this and in `user_location_layer.dart`
Having the `setState` or removing it made no difference. If you remove the `setState` call.
The markers are shown and its position is updated when the map is moved (exaclty like this bug). The `setState` call is not re-rendering the marker.

It seems to be an active issue in with recent one being https://github.com/johnpryan/flutter

[2019-11-19 04:36] konishon commented on #10
@igaurab  It seems there are other active efforts to add user location
https://github.com/johnpryan/flutter_map/issues/290

However, they have added all the location consumtion and marker movment logic in the parent widget itself, rather than a plugin.

The[ example flutter_map](https://github.com/johnpryan/flutter_map/blob/master/example/lib/pages/moving_markers.dart) gives to move marker is to c

[2019-11-19 04:44] konishon commented on #10
@igaurab  Here's a [neat implementation](https://github.com/synw/map_controller#map-assets) of making markers stateful

It looks like he's subscribing to changes and then automatically call `setState`
[code]

Also,  https://github.com/synw/livemap/ which shows the users live locations,  has been built on top of it.

[2019-11-19 13:56] synw commented on #10
Hi guys. I wrote these packages. It's good to see guys that care about the question of rendering positions on a map. I've been working on that since a while. The question here is map assets state management. I have some ideas about that and I hope you don't mind if I sneak into your discussion to share some points of view.

The stateful map controller is able to manage all assets on map. The rende

[2019-11-19 15:39] jesusrp98 opened #12 "Add 'onLocationUpdate' parameter"
Inside the `UserLocationOptions` class, add a new `onLocationUpdate`, which would be called once user's location has changed.

This example here would print the location every time it changes.
[code]

[2019-11-19 15:44] jesusrp98 opened #13 "Add 'updateMapOnStart' parameter"
This optional parameter would update map's center always the first time it runs.

This option doesn't have much sense if the `updateMapLocationOnPositionChange` parameter is set to `true`, because the map will be always updated. It makes more sense once that other parameters is set to `false`. The map would start with the user front and center, but it wouldn't update map's center every time it mov

[2019-11-19 15:46] jesusrp98 opened #14 "Add 'tolerance' parameter"
This new parameter would establish the limit when user's location should change.

If the change is less than `tolerance`, location and/or map **shouldn't** change.

[code]

[2019-11-19 16:44] konishon commented on #12
In the current implementation, you can achieve this by defining a  stream and passing it on to the plugin. The plugin updates the stream, which can then be listened to for updates
[code]
[code]
but @jesusrp98 proposal to pass a function instead is neater what do you think @igaurab  ?

[2019-11-19 18:29] jesusrp98 commented on #12
I'm currently using that exact scheme, based on the example project provided with the package, and I find it a bit cumbersome.

But that way you're forcing the developers use a patter like `Streams` in order to retrieve the location. I think providing a simpler option, like the one I provided is ideal.

[2019-11-20 10:44] #12 closed

[2019-11-20 10:53] nishontan opened #16 "markerlocationStream needs to be removed in readme"
**Describe the bug**
#15 removes markerlocationStream in favour of onLocationChange.
However, readme still has instructions to make use of markerlocationStream

**To Reproduce**
Not needed

**Expected behavior**
Readme should should atleast remove  markerlocationStream and if possible add usage of onLocationChange

**Screenshots**
Not needed

**Desktop (please complete the following information):*

[2019-11-21 09:10] nishontan opened #18 "Show heading of user location marker"
**Is your feature request related to a problem? Please describe.**
The heading of the device is not shown on user location marker

**Describe the solution you'd like**
Show the heading in user location marker, something similar to google maps might be good place to start

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've con

[2019-11-25 07:38] igaurab opened #19 "Location change notification not working as expected"
**Describe the bug**
When the app is initially opened, and location permission is not given, the app awaits for location permission access. Once the permission is granted and the location access is toggled, the location access updates are not given.

On the other hand, if the location permission is already granted and then the location access is toggled, this status is given by the app.
**To Repro

[2019-11-25 08:38] #19 closed

[2019-12-17 08:50] synw commented on #10
Hi. I am currently porting my map_controller to a plugin to avoid having to listen to a stream for updates and faced the same problem. I found a  way: in `_subscribeToLocationChanges` add this:

[code]

[Edit] : this is a workaround, it does not work very well if the actions are repeated. I opened an [issue](https://github.com/johnpryan/flutter_map/issues/482) in the flutter_map repo to find a via

[2019-12-25 14:51] terry8204 opened #22 "can't run in the iOS"
can you test it in the iOS plugin?

[2020-01-02 04:52] konishon commented on #22
@igaurab
code magic build for iOS throws

[code]

[2020-01-11 16:01] igaurab commented on #22
@terry8204 I do not own a Mac machine so can't really test it on ios devices. I am very open to PR though.

[2020-01-13 15:02] nishontan opened #26 "Zoom to current location is not smooth"
**Describe the bug**
On pressing zoom to current location widget, the camera jumps to current location

**To Reproduce**
Steps to reproduce the behavior:
1. Load map
2. Tap on zoom to currect location widget

**Expected behavior**
The camera should smoothly animate to current user location

**Desktop (please complete the following information):**
N.A

**Smartphone (please complete the following in

[2020-01-16 12:06] Milansu opened #28 "Location service crashes the app"
**Describe the bug**
When the location service is turned off, you get prompted with a rationale for requesting permission (Android only), the Google's location service. If you click "No Thanks" you will get prompted again the same alert until the application finally crashes. Clicking "Ok" works fine, and enables locations service.
You can see the issue in the example.

**To Reproduce**
Steps to re

[2020-01-16 13:01] konishon commented on #22
@igaurab
I have codemagic setup on https://github.com/naxa-developers/iom-open-space-portal.Where I can compile for iOS

https://medium.com/flutter-community/developing-and-debugging-flutter-apps-for-ios-without-a-mac-8d362a8ec667

[2020-01-16 13:10] igaurab commented on #26
That is because, I have not used animation there, will fix it.

[2020-01-17 07:58] igaurab commented on #26
So the issue is:
Whenever the `updateMapLocationOnPositionChange` is set to false, the animation runs perfectly.
But whenever the `updateMapLocationOnPositionChange` is set to true, the two `mapController` interfare with each other and hence the animation is not  rendered properly.

The workaround:
1. when FAB is clicked, set `updateMapLocationOnPositionChange = false`
2. call the animation
3. whe

[2020-01-17 08:19] #26 closed

[2020-01-21 13:23] igaurab commented on #22
@nishontan thanks. Will try it for sure.

[2020-01-21 13:29] igaurab commented on #13
@jesusrp98 in #25 I have added a paramter `zoomToCurrentLocationOnLoad` which zooms the map to the current location on start.

[2020-01-21 13:29] #13 closed

[2020-01-21 13:38] #16 closed

[2020-01-24 13:22] boris612 commented on #10
An another (dirty) workaround could be to slightly move map and return back to the same position. For example if _updateMapLocationOnPositionChange_ is set to _false_ then this code could help:
[code]

[2020-01-30 08:34] konishon commented on #10
@boris612 I made those exact changes and sent a PR

@boris612 I made those exact changes and sent a PR. I am ok with this workaround until flutter_map provides a better alternative

[2020-01-30 11:59] #10 closed

[2020-01-30 12:01] igaurab commented on #18
This issue is addressed in #31

[2020-01-30 12:01] #18 closed

[2020-02-02 18:50] boris612 opened #32 "Compass stream not canceled"
User direction had been added by the following pull request: [https://github.com/igaurab/user_location_plugin/pull/31] but the compass stream is not canceled on dispose.
I suggest changing this line
[code]
to
[code]
so that subscription could be declared as
[code]
and canceled in dispose
[code]

[2020-02-03 08:01] mattia-lau opened #33 "Memory leak _MapsPluginLayerState line46"
E/flutter (20257): The preferred solution is to cancel the timer or stop listening to the animation in the dispose() callback. Another solution is to check the "mounted" property of this object before calling setState() to ensure the object is still in the tree.
E/flutter (20257): This error might indicate a memory leak if setState() is being called because another object is retaining a reference

[2020-02-03 16:30] #33 closed

[2020-02-04 14:04] #32 closed

[2020-02-04 17:43] mattia-lau opened #35 "When the phone rotate, the current location marker does not rotated"
When the phone rotate, the current location marker does not rotated.

The direction state have no updated??

[2020-02-09 04:04] igaurab commented on #35
Hi, do you mean the heading?

[2020-02-09 04:06] igaurab commented on #33
Hi, could  you please explain more about this issue?

[2020-02-09 14:34] amokio commented on #35
the _markers is state. It will get other marker coordinate by calling API when user location change. however, when my physical device angle change, the user location that present the angle shape have no update.
Also, there existing another error:

[code]

Here is my code.
[code]

[2020-02-09 15:06] amokio commented on #35
Yes. i mean the heading

@igaurab can you also please update the pub version? because you merged the code but not yet update

[2020-02-10 10:08] igaurab commented on #35
@mattia-lau sure.

[UPDATE] The new version is 0.1.2 which includes the changes

[2020-02-10 10:09] igaurab commented on #35
@amias-samir dai, could you please look into it, when you are free.

[2020-02-10 10:11] igaurab commented on #28
@Milansu just looked into the issue today. Will fix in a day or two. I think there is a critical bug in the `initialize` function. Thank you for reporting the issue.

[2020-02-10 14:53] MildConcussion commented on #35
Awesome work!

Direction marker has been working for me since 0.1.1, but now on 0.1.2 it prints Direction debug to console.

[2020-02-10 15:46] amokio commented on #35
The heading is also work fine for you?? when your phone rotated, the heading have changed also?

[2020-02-10 15:51] amokio commented on #35
@igaurab new problem here. After dispose the widget and enter the same widget again.
[code]

[2020-02-11 12:00] konishon commented on #35
This is going beyond the scope of this issue. @mattia-lau Would you mind creating a new one for this?

[2020-02-11 13:17] amokio commented on #35
Sorry what do you mean for creating a new one? You mean new issue?

and i wonder to know how to make sure my Plugin is on top of the layer?
I want to make sure my input field is on top of the layer. But now, the heading is on top of my input field

[2020-02-12 07:32] konishon commented on #35
Yes! Let's create a new issue for `E/EventChannel#locationStatusStream(25617): Failed to close existing event stream`

[2020-02-12 07:39] konishon commented on #35
@mattia-lau
You could change the order in layers in FlutterMap, to change how each layer shows in the map.

[2020-02-13 12:06] mattia-lau opened #37 "E/EventChannel#locationStatusStream(25617): Failed to close existing event stream"
[code]

[2020-02-13 12:06] #35 closed

[2020-02-13 16:39] mattia-lau commented on #35
i dont really understand your meaning. Any code to take reference?

[2020-02-14 17:05] amokio commented on #37
@igaurab

[2020-02-25 15:53] joharei opened #39 "Location marker disappears"
**Describe the bug**
Location marker disappears for a moment every time markers change

**To Reproduce**
Steps to reproduce the behavior:
1. Use the example project
2. Make the `markers` list change, f.ex. by clicking on a button

**Expected behavior**
The location marker should stay where it is without disappearing

**Actual behavior**
The location marker disappears for a moment before coming bac

[2020-03-06 12:34] antonbt commented on #37
I have the same issue when navigating to some other widget and back again.. It would be nice to have some control over the actual location listener in order to cancel, pause or resume it manually,

Furthermore the plugin is filling up the log with some "Direction" output. I am guessing some debug flag is turned on.

`I/flutter (  340): Direction : 40.6218478598268
I/flutter (  340): Direction : 40

[2020-03-06 13:06] xni06 commented on #37
The logging issue has already been merged #40

[2020-03-08 19:56] xni06 opened #42 "Undefined name 'UserLocation'"
Unit test does not compile for build 86347ea2ca8f1c4dc058c93041df84e8c30f55ba

[test/user_location_test.dart](https://github.com/igaurab/user_location_plugin/blob/master/test/user_location_test.dart)

[code]

[2020-03-08 20:14] xni06 commented on #37
Take a look at https://github.com/igaurab/user_location_plugin/pull/41 that should fix the `IllegalArgumentException`. You can pull in this version by using the following in your `pubspec.yaml`

[code]

Once it's merged, please reference `https://github.com/igaurab/user_location_plugin.git` instead

[2020-03-12 21:58] lucygeneric commented on #37
good fix @xni06 - works well thanks

[2020-03-16 21:36] xni06 opened #43 "The method 'cancel' was called on null."
Upon initial launch, and failing to grant location permissions, when navigating back, a `NoSuchMethodError` is thrown as a result of trying to close a stream that does not yet exist.

[code]

[2020-03-16 21:39] xni06 opened #44 "java.lang.SecurityException: "gps" location provider requires ACCESS_FINE_LOCATION permission"
_Tested on Android only_

Upon initial launch, having yet to request location permissions, the following is thrown:

[code]

[2020-03-17 05:52] konishon commented on #22
It build on codemagic here's the build logs
https://codemagic.io/app/5e7057c82c964659341b9932/build/5e70634d6e13eb5f2e025bfd

[2020-03-17 10:31] #44 closed

[2020-03-17 10:31] #43 closed

[2020-03-17 10:32] xni06 commented on #37
@mattia-lau you can now close this issue

[2020-03-17 10:36] xni06 commented on #28
@Milansu Could you please see whether recent changes fix your problem? You can try it out by using this in your `pubspec.yaml`

[code]

[2020-03-17 10:39] xni06 opened #47 "Add unit test step in Codemagic build"
Currently, tests fail - see #42

Can `flutter test` be added as one of the _Codemagic_ build steps to catch this and any other failures?

[2020-03-29 16:32] #37 closed

[2020-03-30 18:40] smasinde commented on #22
This is the error I'm getting from this... does this help you at all?

flutter: ══╡ EXCEPTION CAUGHT BY GESTURE ╞═══════════════════════════════════════════════════════════════════
flutter: The following NoSuchMethodError was thrown while handling a gesture:
flutter: The getter 'latitude' was called on null.
flutter: Receiver: null
flutter: Tried calling: latitude
flutter:
flutter: #0      Object.

[2020-03-30 18:56] xni06 commented on #22
`0.1.2` is a based on PR #34 from 4th February - can you try the latest PR #45 from  17th March using the following to see what happens? Both have been merged into master. Thanks.

[code]

[2020-03-30 19:41] smasinde commented on #39
I've run into this issue. Happens when updating the UI through setState... figure out a fix?

Update: calling setState is what breaks the plugin

[2020-03-30 23:47] lucygeneric commented on #39
I fixed this by removing all markers except the user marker, it's ghetto but it works.

In my solution I use a combination of https://github.com/synw/map_controller and this hack.

For all your normal markers create a marker class that extends Marker, then wherever your are building empty the set and repopulate it without removing the user
Something like...
`_statefulMapController.markers.removeWh

[2020-04-03 04:28] GeoTob opened #48 "defaultZoom not utilised"
**Describe the bug**
While `UserLocationOptions` accepts `defaultZoom` as an argument, the setting does not seem to be utilised at all.

For example, I would expect the following snippet to open a map at the user's location with zoom level 19:

[code]

However, the method handling `zoomToCurrentLocationOnLoad` hard-codes a zoom level of 17:

https://github.com/igaurab/user_location_plugin/blob/d7e

[2020-04-12 21:36] paapu88 opened #50 "version conflict?"
Hello,
I get some  proj4dart related error if not using flutter_map: ^0.9.0.
But now it seems that user_location cannot use that version.

And because user_location >=0.1.0 depends on flutter_map ^0.8.2, every version of user_location requires flutter_map ^0.7.0+2 or >=0.8.0 <0.9.0.
So, because loyda_suomi depends on both flutter_map ^0.9.0 and user_location any, version solving failed.

In pubspe

[2020-04-12 21:46] xni06 commented on #50
Can you try the following please in your `pubspec.yaml`? Thanks

[code]

[2020-04-13 10:04] paapu88 commented on #50
Thanks for a quick reply, bur with your suggested modification I get now:

Because every version of user_location from git depends on flutter_map ^0.8.2 and loyda_suomi depends on flutter_map ^0.9.0, user_location from git is forbidden.
So, because loyda_suomi depends on user_location from git, version solving failed.
Running "flutter pub get" in loyda_suomi...
pub get failed (1; So, because loyda

[2020-04-13 10:56] xni06 commented on #50
What's `loyda_suomi`?

JFYI, these are my dependencies that work OK at the moment:

[code]

[2020-04-13 15:10] paapu88 commented on #50
Well, it seems I need flutter_map 0.9.0 , the reason is totally uclear to me
( I get flutter_map error :

lib/pages/map_ant.dart:19:3: Error: Type 'Proj4Crs' not found.
  Proj4Crs epsg3067CRS;

So it seems I have to do without user_location for a while...

Loyda Suomi is very simple map-app  working only in finland (because the very accurate map I use is only avaiable in Finland: mapant.fi ) I'll

[2020-04-14 20:41] andreystavitsky opened #51 "Remove access token from example"
Please remove mapbox api token from example app

[2020-04-15 02:16] #39 closed

[2020-04-17 15:25] kk90 opened #52 "Web support"
**Problem**
When compiling flutter program for web location button is properly displayed, when clicking locate button an error is thrown
[code]

**Solution**
Add HTML5 geolocation support as described here:
https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API

[2020-04-17 15:36] kk90 commented on #52
Update:
Upgrading location dependency to `location: ^3.0.0` might solve problem
https://pub.dev/packages/location#-changelog-tab-

[2020-04-18 17:51] #52 closed

[2020-04-25 14:13] #48 closed

[2020-04-26 18:35] javi11 opened #55 "Direction is inverted"
Hi, thanks for this great plugin :).

I have a problem at least on a Huawei p30 I don't know if is the phone or if it's the plugin but the direction is inverted on the map. A part of that the speed is not real cause the -2

https://github.com/igaurab/user_location_plugin/blob/744933454a6de886a9ca09975abe678948dd2a65/lib/src/user_location_layer.dart#L133

If I modify this line by:

[code]
All is wo

[2020-04-27 19:26] ChemoCosmo opened #56 "NoSuchMethodError in flutter testing on dispose"
When I use the location plugin in my app, all tests fail with an NoSuchMethodError / Null Pointer Error.

[code]

Apparently the `_onLocationChangedStreamSubscription` listener is never initialized but waiting in the `user_location_layer.dart::101` indefinitely for the location permission request.

When disposed in line `user_location_layer.dart:55:42` the cancel operation is called, without check

[2020-04-29 07:56] tomaszgruzla opened #57 "Error after hide map screen"
E/flutter (32734): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: setState() called after dispose(): _MapsPluginLayerState#50975(lifecycle state: defunct, not mounted, tickers: tracking 0 tickers)
E/flutter (32734): This error happens if you call setState() on a State object for a widget that no longer appears in the widget tree (e.g., whose parent widget no longer includes the

[2020-04-29 08:21] igaurab commented on #57
@tomaszgruzla
How can I reproduce the errors?

[2020-04-29 09:46] tomaszgruzla commented on #57
this exception throw when my MapScreenWidget with FlutterMap was disposing/closing

[2020-04-29 09:55] tomaszgruzla commented on #57
[code]
this code is not working properly

[2020-04-29 11:30] tomaszgruzla commented on #57
v 0.1.3 works properly

[2020-04-29 11:30] #57 closed

[2020-04-30 04:21] igaurab commented on #55
Yes, the direction does seem to be a bit off, I'll look into this issue.

[2020-04-30 10:39] Milansu commented on #28
Can you confirm this is fixed in

Since I can't simulate this bug anymore?

[2020-05-01 17:23] javi11 commented on #55
I can do a PR if you want ;)

[2020-05-01 18:09] ChemoCosmo commented on #56
A workaround is adding the user plugin to the map only when user location permission has been granted.
Still, would be nice if the plugin could work without throwing erros even with missing user location permission.

[2020-05-03 08:29] paapu88 commented on #50
I now use geolocator instead of user_location. geolocator is working fine for me.

[2020-05-03 08:29] #50 closed

[2020-05-06 03:27] Allenisme opened #58 "Version conflicts with flutter_map"
Because user_location >=0.1.0 depends on flutter_map ^0.8.2 and community_base depends on flutter_map ^0.9.0, user_location >=0.1.0 is forbidden.

So, because xxx depends on user_location ^0.1.3, version solving failed.
pub get failed (1; So, because community_base depends on user_location ^0.1.3, version solving failed.)

Please update version. Thanks so much. :)

[2020-05-13 13:22] igaurab commented on #55
@javi11  sure that world be awesome, I tried what you did, it was more precise.

[2020-05-13 13:29] igaurab commented on #58
Hi, sorry for the late update, please let me know if it works, also please use the version from git

[2020-05-18 02:02] Binabh commented on #28
I am also currently unable to recreate the bug.
App simply asks for permission two times and does not crash when location permission is denied.
Can anyone re-create the bug? If yes please suggest the steps. Also please check if the bug is phone hardware or operating system specific?
If solved, I purpose to close the issue as solved.

[2020-05-19 06:49] igaurab opened #60 "Check for location permission when FAB is clicked"

[2020-05-19 06:51] #60 closed

[2020-05-19 06:52] #28 closed

[2020-05-19 19:59] lucasrubini commented on #58
Same error here:

[2020-05-23 05:17] vaishnavmhetre opened #62 "No material widget found on floating action button for current location"
**Describe the bug**
No Material Widget found on FloatingActionButton

**To Reproduce**
Steps to reproduce the behavior:
1. Run the app with default scaffold with plugin

**Expected behavior**
Default provided Floating action button should be visible

**Screenshots**
![Screenshot_20200523-104240](https://user-images.githubusercontent.com/14543290/82722236-76ece500-9ce2-11ea-99c8-a9ce4b91da8c.jpg)

[2020-05-23 05:21] igaurab commented on #62
@vaishnavmhetre are you using the latest version from pub or directly from the gituhub?

[2020-05-23 05:25] vaishnavmhetre commented on #62
I ran _pub upgrade_ which bumped the version to 0.1.3 equal to the to the pub version tag mentioned on Github.

pubspec.lock snap

![Screenshot from 2020-05-23 10-54-08](https://user-images.githubusercontent.com/14543290/82722373-d3043900-9ce3-11ea-8075-024346659ff3.png)

[2020-05-23 05:35] vaishnavmhetre commented on #62
I wrapped the FlutterMap instance in Scaffold and it worked, but no idea why!! Do we always need to wrap Widget in Scaffold to be called from Material app?

[2020-05-23 05:41] igaurab commented on #62
Yes, I was about to tell you the same, in the build method

[code]

You have returned the FlutterMap in the build method, the Inkwell requires one of it's parent widget to be Material Widget.

[2020-05-23 05:50] igaurab commented on #62
`Do we always need to wrap Widget in Scaffold to be called from Material app?`

The answer is no, but since most of the widgets require you to use a Material widget as their ancestor, it is a safe option to include any Material Widget as a root widget in your build method, esp when you are creating a new page

[2020-05-23 05:52] #62 closed

[2020-05-29 08:47] lucabecchetti opened #63 "Error using on openstreetmap layer"
**Describe the bug**

════════ Exception caught by gesture ═══════════════════════════════════════════════════════════════
The following NoSuchMethodError was thrown while handling a gesture:
The getter 'latitude' was called on null.
Receiver: null
Tried calling: latitude

When the exception was thrown, this was the stack:
#0      Object.noSuchMethod (dart:core-patch/object_patch.dart:53:5)
#1

[2020-06-06 11:58] lucabecchetti commented on #63
up

[2020-06-14 11:05] fryette opened #64 "Update flutter_compass dependency"
Could you please update flutter compass to the latest version?

[2020-06-15 10:02] igaurab commented on #63
The location status stream is natively written for Android Devices using Kotlin. I might think that is the reason for the issue, although I am not sure.

Could you try using an android emulator and let me know if the error persists?

[2020-06-15 10:18] igaurab commented on #55
@javi11 hey sorry for the late fix, could you please confirm if #65 fixes the issue?

I tested it in my emulator, it did work

[2020-06-15 11:05] javi11 commented on #55
Will do now, sorry for no doing the pr, just has to go to other things. Just yesterday I started working on It again.

Thanks for doing the fix btw :)

[2020-06-15 16:44] javi11 commented on #55
I see it still inverted, maybe for the - 160 that should be or + 180 or + 160

[2020-06-15 16:56] javi11 commented on #55
Yes with + 160 works perfectly

[2020-06-15 17:30] #55 closed

[2020-06-15 17:31] igaurab commented on #55
Thanks for fixing the typo

[2020-06-16 05:19] jamontes79 commented on #58
The same here

[2020-06-21 14:26] joaotomaspinheiro opened #67 "Location services crashes the app"
**Describe the bug**
When I open the app with the location services turned off, it gives me the prompt to ask if I want to enable the location services. If I click 'No Thanks', it reproduces the prompt again and if I choose again 'No Thanks' or 'OK', it crashes the app. This only happens when the app is opened with the location services is turned off.

**To Reproduce**
Steps to reproduce the behav

[2020-06-22 11:57] igaurab commented on #67
Hi which version are you using? The issue was fixed in #59
Could you please try using the latest version from github, rather than pub and let me know if the problem exist...

[2020-06-22 14:54] igaurab commented on #64
Sure, Please use the latest version from the GitHub.

[2020-06-22 14:54] #64 closed

[2020-06-22 14:58] #51 closed

[2020-06-22 15:01] igaurab commented on #58
@jamontes79 please try using the latest version from github and let me know if the issue persists

[2020-06-23 20:12] grangoni commented on #63
Same MissingPluginException(No implementation found for method listen on channel locationStatusStream) here. (both on Samsung GS10 and Android emulator

[2020-06-26 13:47] jamontes79 commented on #58
Now works. Thanks a lot

[2020-06-28 10:51] iamar1k92 opened #68 "APP crashed on startup with Android 29 API [Android X]"
**Describe the bug**
Your plugin work fine on ios, but when i tried it with my existing app that target 29 api. It crashed on startup on android 10, while work fine on below android api 28

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' set android api to 29
2. Click on '....' test on android 10
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise desc

[2020-06-29 17:29] jamontes79 opened #69 "Chaning updateMapLocationOnPositionChange value on runtime doesn't work"
I'm changing the value of the property updateMapLocationOnPositionChange on runtime to false but when the location is update the map is moving to the current location.

The idea is deactivate the tracking when the user moves the map and activate again when the user clicks on the center fab button.

Any idea how to deal with it?

Thanks
Regards

[2020-06-29 18:29] igaurab commented on #69
Hi,

You can try to make use of the callbacks provided by the flutter_map. Also if possible share your findings, that might help others...

![image](https://user-images.githubusercontent.com/28226423/86041319-357bf200-ba65-11ea-8d66-3d481e7173b3.png)

You could basically track the position changed and define when to trigger

`userLocationOptions.updateMapLocationOnPositionChange = false;`

As of n

[2020-06-29 18:30] igaurab opened #70 "Provide callback function to FAB"
#69

[2020-06-30 05:13] #70 closed

[2020-07-01 12:42] jamontes79 commented on #69
The new changes works like a charm.

Thanks a lot

[2020-07-01 12:42] #69 closed

[2020-07-01 12:45] jamontes79 opened #72 "Callback for loose location"
**My problem is to know when the gps signal is loosed and inform to the user**
I would like to display a message to the user when his position can be updated because the gps signal is loosed. I'm trying with different workarounds but they are not working well

**Possible solution**
I would like a callback in UserLocationOptions to manage that.

Thanks a lot in advance

[2020-07-01 13:22] igaurab commented on #68
Hi, I tested it on Android API 30, and it seems to work fine. Could you please paste down the error?

[2020-07-01 13:26] igaurab commented on #72
The plugin has a callback called `onLocationChanged` which can provide you the location updates of the user. You could set some timer and check if his location has been updated in past few x seconds or not, if not you could display the message.

[2020-07-01 13:32] #58 closed

[2020-07-01 14:09] jamontes79 commented on #72
Thanks I'll think in that solution.

Thanks for your great library and your quickly responses

[2020-07-01 17:16] iamar1k92 commented on #68
application crashes on startup, there is no log to track

[2020-07-08 19:28] fryette opened #73 "Upgrade to latest flutter map 1.10.1"
Please upgrade to 10.0.1 version

[2020-07-09 09:30] igaurab commented on #73
Done

[2020-07-09 09:30] #73 closed

[2020-07-19 13:15] Xennis opened #74 "Add possibility to stop the location update stream to avoid "power intensive background running""
**Is your feature request related to a problem? Please describe.**
On Android devices my app is listed as "power intensive apps running in the background" because of "high location frequency". It contains to request the location what is not needed in my case.

**Describe the solution you'd like**
A possibility to stop the location update stream. If I see it correctly the updates can be stopped.

[2020-07-19 14:22] igaurab commented on #74
Thanks, it is a nice feature to have.

On Sun, Jul 19, 2020, 7:01 PM Fabian Rosenthal <notifications@github.com>
wrote:

[2020-07-19 20:23] Xennis commented on #74
Hey @igaurab can you point me to the right direction, i.e. what needs to be done for that? I can see that in user_location_layer.dart the `_subscribeToLocationChanges` subscribes to the changes. But how/where to unsubscribe from that location changes (and later subscribe again)? Regards.

[2020-07-20 08:22] igaurab commented on #74
Hi, the `userLocationPlugin` makes use of another plugin called `location` to get the current location of the user. It uses `onLocationChange` to subscribe to the location changes, according to their [docs](https://pub.dev/documentation/location/latest/location/Location/changeSettings.html) you can change the interval at which the location updates are checked, that might be the one we should be ab

[2020-07-20 08:50] princebb opened #75 "Why lib package contains so many kotlinxxx.jar?"
What is the purpose of placing these jar packages?

[2020-07-20 23:10] Xennis commented on #74
Hey @igaurab thanks. That helped! I prepared a draft PR: #76 Please have a look. It differs from you idea.

[2020-07-21 20:49] Xennis opened #78 "Plugin keeps the location service on forever"
**Describe the bug**
If you are using this plugin the location service will be always on even if the app is running in the background. When you are using Google Maps, the [location example](https://github.com/Lyokone/flutterlocation/blob/master/location/example/lib/listen_location.dart), ... you will notice all of them turn the location service off when it's not used. But due to https://github.com

[2020-07-22 04:18] igaurab commented on #72
@jamontes79 I'll be closing this issue as of now....

[2020-07-22 04:18] #72 closed

[2020-07-22 04:26] igaurab opened #79 "Upgrade to android embeddings v2"
**Is your feature request related to a problem? Please describe.**
This plugin was created using an older version of the Android embedding. It's being deprecated in favor of Android embedding
v2.
Guide:
https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects

[2020-07-22 04:31] igaurab commented on #78
Thanks for pointing it out. Are you currently working on the issue?

[2020-07-23 09:06] Xennis commented on #74
Done in #76 and #77

[2020-07-23 09:06] #74 closed

[2020-07-23 12:08] Xennis commented on #78
No. I don't know how to fix that directly in Android / iOS but a solution would be nice.

[2020-08-15 18:42] palicka commented on #63
same here,
samsung S7,
in my case it was thrown on startup:
[code]

[2020-08-15 20:15] princebb commented on #75
Done.

[2020-08-15 20:15] #75 closed

[2020-09-14 18:42] TimTosi opened #84 "AnimationControllers dispose exception"
**Describe the bug**

I'm very new in Dart and Flutter so I hope what I will describe will be helpful.
First, here is the trace:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Switching back and forth on different views before the map animation finishes cause the crash.

**Desktop (please complete the following information):**
- Occurred on: Emulator iPhone SE 2nd generation
 - OS: Cata

[2020-10-01 08:44] igaurab commented on #84
thanks for submitting the issue.

I am quite busy these days, will look into it soon.

[2020-10-03 07:21] Drkstr opened #85 "[ERROR:flutter/lib/ui/ui_dart_state.cc(171)] Unhandled Exception: NoSuchMethodError: The getter 'zoom' was called on null."
**Describe the bug**
I have a button to toggle the user's location on and off. I get the following error when I try to toggle on the users' location.
Everything works fine till I toggle the users' location

`[ERROR:flutter/lib/ui/ui_dart_state.cc(171)] Unhandled Exception: NoSuchMethodError: The getter 'zoom' was called on null.`

This is the stack trace
Receiver: null
E/flutter (12323): Tried cal

[2020-11-24 22:38] apocalipse9 opened #86 "Include Speed onLocationUpdate"
Hello, testing another packages to get current lat/lng we get the current speed.
It's possible to include this on method onLocationUpdate?

[2020-11-24 22:39] apocalipse9 commented on #86
Also, create async signature too on this method.

[2020-12-01 08:01] lalaMiao opened #87 "ios crashed on flutter:1.22.4 Object has been disposed."
**Describe the bug**

════════ Exception caught by scheduler library ═════════════════════════════════
The following message was thrown during a scheduler callback:
Object has been disposed.

When the exception was thrown, this was the stack
#0      Image.width (dart:ui/painting.dart:1586:37)
#1      Image.toString (dart:ui/painting.dart:1614:27)
#2      DiagnosticsProperty.valueToString
package:f

[2020-12-24 04:50] jstnwang0 opened #89 "Ability to change zoom and screen location of MoveToCurrentLocation FAB"
It would be nice to be able to customize the zoom when you press the floating action button. As of right now, it will zoom you in or out to the default 17.

Additionally, we should be able to change the location of the marker on the screen once the button is pressed. Currently, the button centers the marker a bit below center. If there are widgets below or above the map, they may cover the locatio

[2021-01-08 07:37] Swepilot opened #90 "Markers being rebuild without moving map"
When adding `UserLocationOptions` to the map layers it causes my map markers to rebuild every second which has a performance issue since I'm adding hundreds of Markers to the map. The same thing happens when zooming/panning the map but that's more understandable as this requires the markers to be redrawn.

Steps to reproduce the behaviour:
1. Add Markers to a flutter_map
2. Add `UserLocationOption

[2021-01-09 11:36] igaurab commented on #89
Hey, thanks for the suggestion. I am quite busy as of now, but will definitely look into this issue, once I am a bit free.

[2021-01-09 11:39] #78 closed

[2021-01-09 12:19] igaurab commented on #90
Hi, thank you for pointing out the issue.

No, that is not a choice by design.

The reason you are facing performance issues might be because we rebuild **all the markers** every `locationUpdateIntervalMs`, not when the map moves or you zoom in/out.

This is a problem in the plugin itself I guess, and we would need to make changes to how markers are rendered, one quick try could be to delete and a

[2021-01-09 14:31] Swepilot commented on #90
No worries, I will try to find a way in the meantime. I'm beginner/intermediate with Flutter so just wanted to see if I was doing something terrible wrong or not. I'll keep you updated. Good luck with the exams!

[2021-01-19 06:39] TheOneWithTheBraid opened #91 "Make GMS core optional"
**Describe the bug**
Currently, `user_location_plugin` depends on the Google Play Services. In particular, gms-core:

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Add the plugin
2. Start your map view
3. See a friendly notice

**Expected behaviour**
To build applications running on all kinds of devices, especially in Asian regions and on privacy-enhanced devices, GMS should be at

[2021-01-23 19:30] jwels opened #92 "Direction seems to be inverted"
Hey, thanks for this great plugin. So I noticed that the direction displayed on the map seems to be inverted. When searching for an issue here I found a closed one talking about the exact same problem [here](https://github.com/igaurab/user_location_plugin/issues/55). I tried the fix that @javi11 proposed in that issue locally and it seems to work fine. Does this issue only exist for me due to conf

[2021-01-26 19:29] IonVillarreal commented on #67
hi, the solution is available at pub.dev?

I tried the Github version, but I have the i

[2021-01-27 15:12] igaurab commented on #67
Hi,
No, i have not pushed the latest changes to pub.dev, have to migrate the app to v2 #79 , which is still pending after that i maybe i will push the changes.
Please try using it from the Github as of now.

[2021-01-27 15:27] igaurab commented on #92
I thought we had fixed that issue, but looks like the source code has not changed , might have been some merge conflicts. Thank you for pointing it out. Yes, the implementation by @javi11 worked for me too.

[2021-01-27 15:29] igaurab commented on #91
Sure i'll make it a priority and see what we can do about it. Thanks for the feedback

[2021-02-08 11:04] loonyfawn opened #93 "Real-time cars location on map and the errors on example code"
Hi. Thanks you for great package :)

I would like to ask a couple of questions, if you don't mind.

So, before I started I want to mention that I'm new to flutter and may not understand a certain concepts. So, the thing is I'm trying to get the movement of cars on the map in real time, that is, I want the markers to move across the map in accordance with how the car is moving in real time.

I am c

[2021-02-26 13:56] IonVillarreal opened #95 "Null Safety Support"
Null security support planned ?

[2021-02-26 18:11] igaurab commented on #95
yeah will be working on it, but will have to wait a bit longer. Thanks 👍🏿

[2021-03-26 18:16] sumitbhanushali commented on #63
is this issue resolved?

[2021-03-29 07:59] #86 closed

[2021-03-29 08:01] igaurab commented on #63
I am afraid not.

[2021-04-18 08:24] fryette commented on #95
@igaurab seems also latlng should be replaced with latlng2

[2021-04-18 16:46] igaurab commented on #95
@fryette thanks

Let me know if you have any other issues/improvement suggestions. Will start working on the issues from tomorrow onwards

[2021-05-03 21:02] WaterBlueNewWorld opened #99 "User location marker not moving"
I'm experiencing an issue with the user location marker where it does not update the user's current location, it only updates when the floating action button is pressed to center the map, i just followed what the example folder has adding a little changes to accomplish what i needed.

Here is the class for my map screen
[code]
`VentanaAlerta` is just a custom class that i created to show alert dia

[2021-05-03 21:06] WaterBlueNewWorld commented on #99
https://imgur.com/a/SytUYVL
Seems that the image can not be seen, so here it is

[2021-05-23 10:45] fryette commented on #95
@igaurab Do you have time to look on it?

[2021-06-05 16:39] #95 closed

[2021-06-08 06:34] MichalNemec opened #103 "markerWidget not visible or range 0 error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'main page'
2. Click on 'FAB to show location'
3. Scroll down to 'none'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
click on fab, zoom to value specified in userLocationOptions. No zoom happens.
Marker is not vi